/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-basis: 100%;
    margin-bottom: 30px;
}

section h2 {
    font-size: 2rem;
    margin: 0 0 20px 0;
}

section p {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    flex-basis: 33%;
    margin-bottom: 20px;
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    display: inline-block;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

a:hover {
    background-color: #444;
}
.img-size {
    max-width: 300px;
    max-height: 300px;
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
